node_modules/
*.backup
*.temp
temp.*
game_temp.*
test.txt
android/.gradle/
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/build/
android/app/google-services.json
*firebase-adminsdk*.json
*service-account*.json
